* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/*task-1*/
#categories {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 440px;
}

ul {
  list-style: none;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  /* height: 264px;*/
  background: #f6f6fe;
  margin-bottom: 24px;
}


.item h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family);
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}


.item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.item ul li {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #f6f6fe;


  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*task-2*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/*task-3*/
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*task-4*/
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  padding: 20px;
  border-radius: 8px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

label {
  display: grid;
  gap: 5px;
}

input {
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}